# archives
*.zip
*.gz

# containers
*.sif
*.deb

# weights
weights/

# output
generated/
plots/
*.dx
*.latent
*nohup*

# macOS
.DS_Store

# Python
__pycache__

# Jupyter
.ipynb_checkpoints/

# Containers
*.sif

# Editors
.vscode
.idea
