# archives
*.zip
*.gz

# containers
*.sif
*.deb

# weights
weights/

# output
generated/
plots/
*.dx
*.latent

# macOS
.DS_Store

# Python
__pycache__

# Jupyter
.ipynb_checkpoints/

# Containers
*.sif
